<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-2">
            <mat-form-field class="example-full-width" required>                
                <input matInput placeholder="Enter a Product Name" [(ngModel)]="productName">
            </mat-form-field>
        </div>
        
        <div class="col-4">
            <button mat-raised-button color="primary" class="btn" (click)="callSentimentAnalyzerService()">Sentiment Analyzer</button>
        </div>
    </div>
    
    <div *ngIf="showPieChart" class="row-justify-content-md-center">
        <div >
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHoevered($event)"
                    (chartClick)="chartClicked($event)">       
            </canvas>        
        </div>
    </div> 
    
    
    <div class="form-group">
        <a href="#" *ngIf="showPieChart" (click)="viewJSON()"> View JSON</a>        
        <textarea *ngIf="showTA" class="form-control rounded-0" rows="5" id="textArea" [(ngModel)]="textAreaValue"></textarea>
    </div>
 

</div>